.scrollNews {
    height: calc(100vh - 60px);
    width: 100%;
    background: transparent;
    overflow-y: scroll;
    position: fixed;
    top: 60px;
    right: 0;
}

.scrollNews .container {
    display: flex;
    flex-direction: column;
}

#scrollNews::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #000000;
}

#scrollNews::-webkit-scrollbar {
    width: 4px;
}

#scrollNews::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ff00ff;
}

.updateBox {
    width: 60%;
    background: #1f1e1e;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.updateBox p {
    margin-left: 25px;
    margin-right: 25px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    font-family: Sen, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

.updateBox .contentSpan {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-bottom: 20px;
}

.updateBox .contentSpan span {
    display: flex;
    margin-right: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.updateBox .contentSpan span i {
    font-size: 8px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5px;
}

.updateBox .headerUpdate {
    border-bottom: 2px solid #303030;
}

.updateBox .headerUpdate .content {
    display: flex;
    flex-direction: column;
    padding: 32px;
}

.updateBox .headerUpdate .content .titreUpdate {
    color: #fff;
    font-weight: 800;
    font-size: 20px;
    text-decoration: none;
    font-family: Sen, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}


.updateBox .headerUpdate .content .contentUpdate {
    display: flex;
}

.updateBox .headerUpdate .content .contentUpdate p {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 5px;
    font-size: 13px;
    font-weight: 600;
    color: #9e9e9e;
}